body {
        
        background-color: antiquewhite;
      }
      .hero-section {
       
       text-align: center;
      }
      h1 {
        color: black;
        font-size: 60px;
      }
      .content {
        display: flex;
        font-size: larger;
        border: 4px;
        justify-content: center;
        border-radius: 10%;
        width: 100%;

      }
      p {
        border: 2px;
        width: 50%;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 7px ;
      }
      .section {
        display: flex;
        font-size: larger;
        border: 4px;
        justify-content: center;
        border-radius: 10%;
        width: 100%;

      }
      