* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




header {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgba(70, 69, 69, 0.934), #aca9a8);
  align-items: center;
  
}

nav ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
  text-transform: capitalize;
}

nav ul li a {
  color: rgb(249, 249, 249);
  text-decoration: none;
  font-weight: bold;
  background-color: #555;
  padding: 10px;
  border-radius: 30px;
  font-weight:bold;
  font-family: sans-serif;
  
}
a:hover{
    background-color: red;

}

.hero-section {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient( rgba(226, 191, 191, 0.989),rgba(179, 3, 3, 0.761),rgb(191, 8, 8));
}

.hero-section h1 {
  color: rgb(7, 1, 10);
  font-size: 60px;
  text-align: center;
}



#logo {
  border-radius: 50%;
  position: absolute;
  left: 30px;
  width: 50px;
}
.container {
    
      margin: auto;
      padding: 30px;
    }

    h2{
      text-align: center;
      margin-bottom: 40px;
      font-size: 2rem;
      font-weight: bold;
    }

    .benefit {
      display: flex;
      align-items: flex-start;
      background: #c67f85;
      margin-bottom: 40px;
      justify-content: center;
      align-items: center;
      width: 1400px;
    }

    .icon {
      display: flex;
      text-align: center;
      font-size: 50px;

    }

    .content {
      background: #f6d9db;
      padding-left: 15px;
      padding: 14px;
    }

    .content h3 {
      background: #1d3557;
      display: inline-block;
      padding: 8px 15px;
      border-radius: 5px;
      font-size: 1.2rem;
      margin: 0 0 10px;
      color: #f5f2f2;
    }

    .content p {
      line-height: 1.6;
      font-size: large;
    }

    .highlight {
      font-weight: bold;
      color: rgb(233, 69, 10);
    }
 