 body {
      font-family: Arial, sans-serif;
      background: #aeebf9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #c0392b;
    }
    .form-group {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;
    }
    .form-group label {
      flex: 1;
      font-size: 14px;
    }
    .form-group input, 
    .form-group select, 
    textarea {
      flex: 2;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }
    textarea {
      height: 80px;
      resize: none;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    button {
      background: #c0392b;
      color: white;
      border: none;
      padding: 20px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
    }
    button:hover {
      background: #a93226;
    }
    a {
      text-decoration: none;
      color: #2980b9;
      font-size: 14px;
      margin-top: 10px;
      display: inline-block;
    }